body {
    background-color: black !important;
    color: aliceblue!important;
}

footer {
    background-color: black;
    height: 150px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

}


.earth {

    height: 20px;
    width: 20px;
    border-radius: 50%;

}

.img {

    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: relative;
    bottom: 2px;

}

.later {
    letter-spacing: 8px;

}

.border {
    border: 2px solid red;
}

.icons a {
    color: wheat;
    text-decoration: none;


}

.icons {
    position: relative;
    top: 30px;

}

.later p {
    position: relative;
    top: 7px;
}

.search-area input {
    background: transparent !important;
    border-color: wheat;
    color: wheat !important;
    outline: 1px solid wheat !important;
    border-radius: 13px;
}

.search-area button {
    color: wheat;
    border-color: wheat;
    border-radius: 15px;

}

.search-area button:hover {
    background-color: wheat;
    color: black;
}

.logo {
    transform: scale(1.3);
    margin-left: 13px;

}



nav {
    background-color: black !important;
    color: wheat;


}

nav a {
    text-decoration: none !important;
    color: wheat !important;
    margin-left: 64px;
}
.scroll-u{
    display: block!important;
    position: relative!important;
}

.scroll-u::before{
    content: ""!important;
    position: absolute!important;
    border-bottom: 6px solid wheat!important;
    background: transparent!important;
    width: 0!important;
    bottom: 0!important;
    left: 0!important;
    transition: 1s ease-in-out!important;


}
.scroll-u:hover::before{
    width: 100%!important;
}

.services li {
    background-color: black;
    text-align: left !important;
    padding: 10px;

}

.services .srv a:hover {
    background-color: wheat !important;
    color: black !important;
}

.services {
    background-color: black !important;

}

.services a {
    margin: 0 !important;
}
.dev-section p, ul {
    color: cornflowerblue;
    font-size: 20px;
    width: 70%;
}

.transparent-banner {
    height: 700px;
    background-color: rgba(7, 7, 7, 0.617);


}
.sec1-bg{
    background: url(./image/earth-bg.jpg)no-repeat center fixed;
    height: 700px;
   /* margin-top: 150px; */
   /* padding-top: 100px; */

}
.sec1-img{
    height: 700px;
    background-color: rgba(192, 192, 192, 0.132);
    justify-content: space-around;
    padding-top: 100px;
}
.tec-bg{
    background:url(./BZYUrG.jpg);
    height: 400px;
    background-size: 100%;
}
.color-bg{
    background-color: rgba(192, 192, 192, 0.153);
}
.tec-bg-color{
    /* background-color:rgba(192, 192, 192, 0.096); */
  
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(8,1fr);
    width: 80%;
    margin: auto;

   
}
.tec-bg-color img:{
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.logo-png-chobi{
    height:80px;
    width: 80px;
    /* background-color: ; */
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 20px white;

}


.logo-png-chobi img{
    width: 55%;
    height: 55%;
    display: block;
}











.ftr-card {
    background: url(./image/metallic-background.jpg) no-repeat;
    background-size: 100%;
    height: 500px;
    width: 250px;
    border: 3px solid silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.316); */
    box-shadow: 0 0 30px silver;
    color: wheat;
    text-align: center;
    border-radius: 50px;
}

.ftr-card h3 {
    color:black;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.btop {
    width: 80px;
    border: 3px solid silver;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ftr-card p {
    color: silver;
    text-align: center;
}

.ftr-card button {
    border-color: silver;
    background-color: transparent;
    color: wheat;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    display: block;
    margin: auto;
    letter-spacing: 5px;
}

.ftr-card button:hover {
    background-color: silver;
    color: black;
}
.ftr-card img{
    width: 114px;
     height: 91px;
    
}
.car-bg{
    background: url(./greg-rosenke-6QnEf_b47eA-unsplash.jpg) no-repeat!important;
    background-size: 50%!important;
}
.sec-cars{
    font-family: 'Poppins', sans-serif;
    height: 400px;
}
.cars1-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7px;
    width: 70%;

}
.cars1-img img{
    width: 100%;

}
.c1-text{
    color: wheat;
    width: 1000px;
}
.special{
    height: 100%;
}
.car-next{
    color: red!important;
}
.orange{
    color:#EC5C7D;
    font-weight: 900;
}
footer{
    background-color: black;
    height: 150px;
    color: wheat!important;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    
    }
    
    
    .earth{
    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
    }
    .img{
    
    border-radius: 50%;
    height:15px;
    width: 15px;
    position: relative ;
    bottom: 2px;
    
    }
    .later{
    letter-spacing: 8px;
    
    }
    .border{
        border: 2px solid red;
    }
    .icons a{
        color: wheat;
        text-decoration: none;
        
        
    }
    .icons{
        position: relative;
        top: 30px;
      
    }
.user-review{
    background: url(./vector-JUL-2020-131.jpg)no-repeat;
    background-size: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.review-dtl{
    width:40% ;
}

.review-dtl p{
  text-align: justify;  
}
.review-dtl p>i{
   position: relative;
   bottom: 15px;
   font-size: 30px;
}



  .review-video{
      height:300px;
      width: 300px ;
      border: 8px solid silver;
      /* border-radius: 50%; */
      /* overflow: hidden; */
      box-shadow: 0 0 20px silver;

  }
  .review-video video{
      width:100%;
      height: 100%;
  
  }
  .review-img{
      height:100px;
      width:100px;
     
  }
  .review-img img{
      width: 100%;
      border-radius:50%;
  }
  .Ratings i{
      color: wheat;
  }

    

